---
- hosts: web
  remote_user: vagrant
  sudo: yes

  vars_files:
    - env_vars/base.yml
    - env_vars/dev.yml

  roles:

    - role: dhellmann.python-dev
      python-versions:
        - version: 3.4

    - role: gcporras.virtualenvwrapper
      virtualenvwrapper_shell_rc_file: /home/vagrant/.bashrc
      virtualenvwrapper_venvs_home: /home/vagrant/.virtualenvs/

  tasks:

    - name: install system requirements
      apt: name={{ item }} state=present update_cache=yes
      with_items:
        - git
        - htop
        - tree
        - vim

    - name: change ownership of .virtualenvs
      file: path=/home/vagrant/.virtualenvs owner=vagrant group=vagrant recurse=yes

    - name: Setup an environment using Python 3.4
      shell: virtualenv -p `which python3.4` /home/vagrant/.virtualenvs/{{ application_name }}

    - name: install python requirements
      pip: requirements={{ playbook_dir }}/requirements/python-{{ environ }}.txt virtualenv=/home/vagrant/.virtualenvs/{{ application_name }} state=present

    # TODO remove setuptools-17.1.1.zip: file path=./setuptools-* state=absent

    # problem with templating to vangrant synced directory: https://github.com/ansible/ansible/issues/9526
    # workaround: template to a non-synced dir and move to the synced one
    - name: build local.py settings
      template: src=./templates/local.py.j2 dest=/root/local_settings.py.temp
    - command: mv /root/local_settings.py.temp ../{{ application_name }}/settings/local.py
