# Python env
*.py[cod]
*.egg-info
__pycache__
.cache
.coverage
.coverage-report

# Djagno
/collected_static/
/media/

# node env
/node_modules/

# project management
.vagrant
.vault_pass.txt
anires/settings/local.py
Vagrantfile.local

# IDEs
*.swp
*~
.idea
*.bat

# DB
*.sqlite3

# temp
anires/demo/
